h1{
    color:deepskyblue;
}

h2{
    color:black
}

/*{
    border:solid
}*/

.header{
    background-color: lawngreen;
    display:flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p{
    text-align: center;
    color: #ff5050;
}

ol{
    text-align: center;
    color: blue;
}

body{
    background-color: #00ffff;
}